<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add   key="BaudRate"   value="9600"/>
    <add   key="ReadTimeout"   value="10000"/>
    <add   key="NumOfModen"   value="1"/>
    <add   key="MysqlHost"   value="114.215.134.139"/>
    <add   key="MysqlPort"   value="3306"/>
    <add   key="MysqlDBName"   value="ringring"/>
    <add   key="MysqlUser"   value="ringring"/>
    <add   key="MysqlPwd"   value="sharedream123"/>
  </appSettings>
</configuration>